.body_inicio{
    background-color: rgb(245, 237, 161);
}

.inicio{
    align-items: center;
}

.titulo_inicio{
    font-size: 50px;
    color: rgb(2, 41, 4);
}

.titulo_texto{
    font-size: 50px;
    color: rgb(2, 41, 4);
}

.opçao_link{
    color:rgb(2, 41, 4) ;
}

.opçao_link a:hover{
    color:rgb(16, 115, 21) ;
}