body{
    margin: 0;
    background-color: #fff1de;
}

.inicio{
    padding: 40px 20px 20px;
    text-align: center;
}

.inicio_img{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.titulo_inicio{
    font-size: 4rem;
    color: #1a3c2f;
    text-transform: uppercase;
    margin: 50px 5px 10px 5px;
}

.texto_inicio{
    font-size: 1.7rem;
    margin: 30px 200px 30px 200px;
    color: #1a3c2f;
    line-height: 1.5;
}

.botao_inicio a{
  font-size: 1.2rem;
  text-decoration: none;
  color: #349329;
  font-weight: bold;
  border: 1px solid #349329;
  padding: 0.3rem 1rem;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s;
  margin: 10px 50px 50px 50px;
}

.botao_inicio a:hover {
  background-color: #349329;
  color: #fff1de;
}

.caminho {
  text-align: center;
  margin: 10rem;
}

h2 {
  font-size: 3rem;
  color: #1a3c2f;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.caminho_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.caminho_items div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}

.caminho_items img {
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
}

.caminho_items p {
  font-size: 1.5rem;
  color: #1d3557;
  font-weight: bold;
}

.campo {
  padding: 2rem;
  border-radius: 12px;
  margin: 3rem 0;
  text-align: center;
}

.campo h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #1a3c2f;
}

.campo p {
  max-width: 600px;
  font-size: 1.5rem;
  margin: 0 auto 1.5rem auto;
  color: #333;
}

.campo img {
  width: 200px;
  margin-top: 1rem;
}

.cidade {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  margin: 3rem 0;
}

.cidade h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #1a3c2f;
}

.projetos {
  display: inline-block;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 220px;
}

.projetos img {
  width: 100px;
  margin-bottom: 1rem;
}

.projetos h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #1a3c2f;
}

.projetos a {
  text-decoration: none;
  color: #349329;
  font-weight: bold;
  border: 1px solid #349329;
  padding: 0.3rem 1rem;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s;
}

.projetos a:hover {
  background-color: #349329;
  color: #fff1de;
}

footer a{
  font-size: 1rem;
  text-decoration: none;
  color: #7c7c7c;
  font-weight: bold;
  border: none;
  padding: 0.3rem 1rem;
  display: inline-block;
  margin: 10px 50px 50px 50px;
  align-items: center;
}

footer a:hover {
  color: rgb(197, 197, 197);}