.root{
    --verde:#349329; 
    --fundo:#fff1de;
    --verde_texto:#1a3c2f;
}

body{
    margin: 0;
}

.body_inicio{
    background-color: #fff1de;
    text-align: center;
}

.inicio{
    padding: 40px 20px 20px;
}

.inicio_img{
    margin-bottom: 10px;
    border-radius: 8px;
}

.titulo_inicio{
    font-size: 4rem;
    color: var(--verde_texto);
    text-transform: uppercase;
    margin: 50px 5px 10px 5px;
}

.texto_inicio{
    font-size: 1.7rem;
    margin: 30px 200px 30px 200px;
    color: var(--verde_texto);
    line-height: 1.5;
}

.botao_inicio{
    background-color: var(--verde);
    border: none;
    color: var(--fundo);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botao_inicio:hover{
  background-color: var(--fundo); 
  color: var(--verde_texto); 
  border: 2px solid var(--verde);
}