.body_inicio{
    background-color: #fff9f1;
    text-align: center;
}

.inicio{
    padding: 40px 20px 20px;
}

.inicio_img{
    margin-bottom: 20px;
    border-radius: 20px;
}

.titulo_inicio{
    font-size: 40px;
    color: #1a3c2f;
}

.texto_inicio{
    font-size: 20px;
    margin: 10px auto 30px;
    color: rgb(2, 41, 4);
    line-height: 1.5;
}

.botao_inicio{
    background-color: #349329;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 40px;
    transition: background-color 0.3 ease;
}

.botao_inicio a:hover{
    color:#4ec540;
}